<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p> hey</p>
    {% for taught in content %}
        <text>{{taught.Name}}</text>
    {% endfor %}

        <table>

            <tc>

                <th>Name</th>



            </tc>

            {% for taught in content %}

            {% for classes in taught.classes.all %}
            <tr>


                <td>{{classes.UnitName}}</td>

            </tr>
            {% endfor %}


            {% endfor %}

        </table>

</body>
</html>