<html>
<head><title>  </title></head>

<body>

    <strong>Teachers!</strong>
    {% if content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Teaching Area</th>
        </tr>
        {% for teach in content.teach.all %}
        <tr> 
            <td>{{teach.Name}}</td>
            <td>{{teach.Area}}</td>
        </tr>
        {% endfor %}

    </table>
    {% else %}
    <strong> NO DATA! </strong>
    {% endif %}


    <strong>Course Area!</strong>
    {% if content2  %}
    <table>
        <tr>
            <th>Courses</th>
            <th>achevment standards</th>
            <th>Teacher</th>
        </tr>
        {% for CA in content2.CA.all %}
        <tr>
            <td>{{CA.achivement_standment}}</td>
            <td>{{CA.Courses}}</td>
            <td>{{CA.Teacher}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <strong> NO DATA! </strong>
    {% endif %}


</body>
</html>
